<form method="post" action="<%= formUrlCustomer %>">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email">
  </div>

  <div class="form-group">
    <label for="email">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input class="form-control" type="address" name="address" id="Address">
  </div>

  <input class="btn btn-default" type="submit">
</form>
