<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">&copy; Snack Mania</p>
											<div>
												<i class="fa fa-map-marker"></i>
												<p><span>8 Claymore Hill, Singapore 229572</span>Singapore</p>
											</div>

											<div>
												<i class="fa fa-phone"></i>
												<p>+65-888888888</p>
											</div>

											<div>
												<i class="fa fa-envelope"></i>
												<p><a href="andre.the@gmail.com">andre.the@snackmania.com</a></p>
											</div>
                </div>
                <div class="footer-center">
                <div class="col-md-6">

									</div>
                        <!--
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Siimple
                    -->
										<p>Credits to:</p>
                        <a href="https://github.com">Git Hub</a>
                        <br></br>
                        <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
