<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/">Welcome</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                  <li class="active"><a href="/snacks">Snack Vault <span class="sr-only">(current)</span></a></li>
            </ul>
            <% if (!isAuthenticated) { %>
                </div>
                <div class="dropdown navbar-right">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Admin Login
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="/login">Admin Login</a></li>
                    <li><a href="/signup">AdminSign up</a></li>
                  </ul>
                </div>
                <div class="dropdown navbar-right">
                  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Guest Login
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="/login-customer">User Login</a></li>
                    <li><a href="/signup-customer">User Sign up</a></li>
                  </ul>
                </div>

                <% } else { %>

                    <ul class="nav navbar-nav navbar-right">
                        <%= user.local.email %>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    <% } %>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
