<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>This Is Snack Mania!</h1>
					<h2 class="subtitle">Discover delicious snacks made with high-quality, simple ingredients.</h2>
					<form class="form-inline signup" role="form">
					  <%# <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
					  </div>
					  <button type="submit" class="btn btn-theme">Get it now</button>
					</form>%>
				</div>
				</div>
			</div>
		</div>
	</div>
