<div class="row">
  <div class="form-group col -md-4">
    <h2>Profile page: <%= snack.name%></h2>
    <p>Hi my name is <%= snack.name %> </p>
    <p><%= snack.description %></p>
    <img src="<%= snack.image %>" alt="image" class="img-rounded" width="200">

  </div>

</div>
